<div class="b b--fw">
  <div class="b-c">
    <%= form_tag(request.base_url, method: "get", class: 'sf') do %>
      <%= label_tag(:q, params[:q] ? "Search results for:" : "Search:", class: 'sf-l') %>
      <div class="sf-i">
        <%= text_field_tag(:q, params[:q], class: 'sf-i-f') %>
        <button class="sf-i-b">Search</button>
      </div>
    <% end %>
  </div>
</div>
<div class="b b--fw b--g">
  <div class="b-c b-c--mh">
    <% if @results %>
      <% if @post_results %>
        <% if @post_results.empty? %>
            <p>Sorry, there were no results for your query.</p>
        <% else %>
          <ul class="g--m0 g--p0">
            <% @post_results.each do |post_result| %>
              <li class="n-li">
                <%= link_to post_result['url'], class: 'n-li-b n-li-b--r n-li-b--fw n-li--in' do %>
                  <div class="n-li-t g--8"><%= sanitize(post_result['title']) %></div>
                  <div class="n-li-ty n-li-ty--r g--44"><%= type(post_result['type']) %></div>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
      <ul class="pg">
        <li class="pg-li">
          <% if @results.current_page > 1 %>
            <%= link_to pagination_url(:q => params[:q], :page => @results.current_page - 1), class: 'pg-li-i pg-li-i--a pg-li-i--link' do %>
              <<span class="pg-li-i-h"> previous</span>
            <% end %>
          <% else %>
            <span class="pg-li-i">< previous</span>
          <% end %>
        </li>
        <% @page_range.each do |page| %>
          <% if @results.current_page === page %>
            <li class="pg-li"><%= link_to page, pagination_url(:q => params[:q], :page => page), class: 'pg-li-i pg-li-i--a pg-li-i--link' %></li>
          <% else %>
            <li class="pg-li"><%= link_to page, pagination_url(:q => params[:q], :page => page), class: 'pg-li-i pg-li-i--link' %></li>
          <% end %>
        <% end %>
        <li class="pg-li">
          <% if @results.num_pages > @results.current_page %>
            <%= link_to pagination_url(:q => params[:q], :page => @results.current_page + 1), class: 'pg-li-i pg-li-i--a pg-li-i--link' do %>
              <span class="pg-li-i-h">next </span>>
            <% end %>
          <% else %>
            <span class="pg-li-i">next ></span>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
