<%= form_tag(request.base_url, method: "get", id: 'searchForm') do %>
  <div class="b b--fw">
    <div class="b-c">
      <div class="sf">
        <%= label_tag(:q, @results ? "Search results:" : "Search:", class: 'sf-l') %>
        <div class="sf-i">
          <%= text_field_tag(:query, params[:query], class: 'sf-i-f', autofocus: (params[:query] && params[:query]) != '' ? false : true) %>
          <button class="sf-i-b">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="b b--fw b--g">
    <div class="b-c b-c--mh">
      <% if @results %>
        <% if @post_results %>
          <div class="g g--mt0">
            <div class="g--33">
              <div class="co">
                <input id="collapsible" type="checkbox" class="co-f d-n" aria-hidden=true>
                <label for="collapsible" class="co-t">Filter</label>
                <div class="co-b co-b--pl">
                  <%= render partial: "facets" %>
                </div>
              </div>
            </div>
            <div class="g--9">
              <%= render partial: "results" %>
              <%= render partial: "pagination" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="b">
    <div class="b-c">
      <div class="h2 tt-u ta-c p-h300">Can't find what you're looking for?</div>
      <hr class="hr hr--sq m-h300 m-v500">
      <div class="ta-c p-h200 t--intro">
        Our 311 operators are available 24/7 to help point you in the right direction. Call 311, or 617-635-4500.
      </div>
    </div>
  </div>
<% end %>
